# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle
android/local.properties

# Python
venv/
__pycache__/

# OS
.DS_Store
Thumbs.db

# --- KİŞİSEL VE GİZLİ DOSYALAR ---

# Firebase Service Account (Backend/Django tarafındaki anahtar)
serviceAccountKey.json
*.json

# Android Yapılandırma Dosyası
google-services.json
**/app/google-services.json

# iOS Yapılandırma Dosyası (İlerde lazım olursa)
GoogleService-Info.plist

# Ortam Değişkenleri ve Veritabanı
.env
venv/
__pycache__/
